{{ define "main" }}
  {{ .Content }}
{{ end }}

{{ define "sidebar" }}
<div id="sidebar">
  {{ $currentPage := . }}

  {{ with .Site.GetPage "/news" }}
        <h1><a href="{{ .URL }}">{{ .Name }}</a></h1>
        <div id="sidebar_nav">
          <ul>
            {{ range .Pages }}
              {{ $selected := eq $currentPage . }}
              <li {{ if $selected }}class="selected"{{ end }}><a href="{{ .URL }}">{{ .Title }}</a>
            {{ end }}
          </ul>
        </div>
  {{end}}
</div>
{{ end }}
