  <!-- partial header begin -->
  <div id="header">
    <div id="header_logo">
      <a href="http://www.wetator.org/"><img alt="WETATOR Smart Web Application Testing" title="Wetator" height="137" width="400" src="{{ .Site.BaseURL }}/images/wetator.png" /></a>
    </div>
    
    <div id="header_bottomline">
      <div id="header_nav">
        {{- partial "navigation.html" . -}}
      </div>
    </div>

    <div id="header_breadcrumbs"><et:breadcrumbs separator=" > " /></div>
  </div>
  <!-- partial header end -->