  <!-- partial header begin -->
  <div id="header">
    <div id="header_logo">
      <a href="{{ .Site.BaseURL }}"><img alt="WETATOR Smart Web Application Testing" title="Wetator" height="137" width="400" src="{{ .Site.BaseURL }}images/wetator.png" /></a>
    </div>
    
    <div id="header_bottomline">
      <button id="nav_toggle" aria-label="Toggle navigation" aria-expanded="false">
        <span></span><span></span><span></span>
      </button>
      <div id="header_nav">
        {{- partial "navigation.html" . -}}
      </div>
    </div>

    <div id="header_breadcrumbs">
      {{- partial "breadcrumb.html" . -}}
    </div>
    
  </div>
  <!-- partial header end -->