<!-- partial head begin -->
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <meta http-equiv="language" content="english, en">
  <meta name="keywords" content="wetator,web,application,test,testing,automation,GUI,tool,HTMLUnit">
  <meta name="description" content="Wetator is a small, flexible and extendable test automation tool that drives and checks your web application. Wetator provides you with a language for writing test scripts that is simple and easily readable - also for non-IT-people. The list of supported commands is intended to be preferably small.">
  <meta name="page-topic" content="Software-Testing">
  <meta name="author" content="Ronald Brill">
  <meta name="publisher" content="Ronald Brill">
  <meta name="copyright" content="(c) Ronald Brill">
  <meta name="robots" content="index,nofollow">
  <meta name="revisit-after" content="14 days">

  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <title>WETATOR / <et:title /></title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}images/favicon.ico" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/normalize.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/default.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/content.css">

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/tipsy.css">
  <script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.tipsy.js"></script>

  <script type="text/javascript" src="{{ .Site.BaseURL }}js/wetator.js" /></script>

</head>
<!-- partial head end -->