<!-- partial navigation begin -->
<ul>
<!-- todo
  <et:find url="/">
    <li<et:if_here> class="selected" </et:if_here>><et:pagelink>home</et:pagelink></li>
-->
    <!-- et:ns:children -->
<!-- todo
      <et:each status="sticky,published" category="navigation" sort="position" order="desc">
        <li<et:if_selected> class="selected"</et:if_selected>>
          <et:pagelink><et:breadcrumb /></et:pagelink>
          <et:if_children>
          <ul>
              <et:children:each status="sticky,published" category="sitemap" sort="position" order="desc">
                <li<et:if_selected> class="selected"</et:if_selected>><et:pagelink /></li>
              </et:children:each>
          </ul>
          </et:if_children>
        </li>
      </et:each>
-->
    <!-- /et:ns:children -->
<!-- todo
  </et:find>
-->
</ul>
<!-- partial navigation end -->