<!-- partial navigation begin -->
<ul>
  {{ $currentPage := . }}
  <li><a href="{{ .Site.BaseURL }}">home</a></li>
  {{ range .Site.Menus.main }}
    <li class="{{ if or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) }}selected{{ end }}"><a href="{{ .URL }}">{{ .Name }}</a>
    {{ if .HasChildren }}
      <ul>
      {{ range .Children }}
        <li class="{{ if or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) }}selected{{ end }}"><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
      </ul>
    {{ end }}
    </li>
  {{ end }}
</ul>
<!-- partial navigation end -->