<!-- partial sidebar begin -->
<div id="sidebar">

  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
      {{ $selected := or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) }}
      {{ if $selected}}
        <h1><a href="{{ .URL }}">{{ .Name }}</a></h1>
        <div id="sidebar_nav">
          <ul>
            {{ range .Children }}
              {{ template "sidebarnav" (dict "menu" . "currentPage" $currentPage) }}
            {{ end }}
          </ul>
        </div>
      {{ end }}
  {{ end }}
  
  {{ define "sidebarnav" }}
      {{ $currentPage := .currentPage }}
      {{ $selected := or ($currentPage.HasMenuCurrent "main" .menu) ($currentPage.IsMenuCurrent "main" .menu) }}

      <li {{ if $selected }}class="selected"{{ end }}><a href="{{ .menu.URL }}">{{ .menu.Name }}</a>
      {{ if and (.menu.HasChildren) $selected}}
        <ul>
        {{ range .menu.Children }}
          {{ template "sidebarnav" (dict "menu" . "currentPage" $currentPage) }}
        {{ end }}
        </ul>
      {{ end }}
  {{ end }}

</div>
<!-- partial sidebar end -->