{{ define "main" }}

<script type="text/javascript">
  $(document).ready(function() {
    $(".tab-menu > li").click(function(e) {
      switch(e.target.id){
        case "default":
          $("#default").addClass("active");$("#minimum").removeClass("active");$("#all").removeClass("active");$("#byset").removeClass("active");
          $("div.default").fadeIn();
          $("div.minimum").css("display", "none");$("div.all").css("display", "none");$("div.byset").css("display", "none");
        break;
        case "minimum":
          $("#minimum").addClass("active");$("#default").removeClass("active");$("#all").removeClass("active");$("#byset").removeClass("active");
          $("div.minimum").fadeIn();
          $("div.default").css("display", "none");$("div.all").css("display", "none");$("div.byset").css("display", "none");
        break;
        case "all":
          $("#all").addClass("active");$("#default").removeClass("active");$("#minimum").removeClass("active");$("#byset").removeClass("active");
          $("div.all").fadeIn();
          $("div.default").css("display", "none");$("div.minimum").css("display", "none");$("div.byset").css("display", "none");
        break;
        case "byset":
          $("#byset").addClass("active");$("#default").removeClass("active");$("#minimum").removeClass("active");$("#all").removeClass("active");
          $("div.byset").fadeIn();
          $("div.default").css("display", "none");$("div.minimum").css("display", "none");$("div.all").css("display", "none");
        break;
      }
      return false;
    });
  });
</script>

<p>
    Wetator's commands are delivered in command sets. Each command set is described in its own XSD, which matches the generic <a href="http://www.wetator.org/xsd/test-case-1.0.0.xsd" target="_blank">test-case-1.0.0.xsd</a>.<br/>
    All XSDs offered by Wetator are available online under http://www.wetator.org/xsd/.<br/>
    <br/>
    You also have the possibility to write your own command sets and therewith extend Wetator's capabilities according to your needs.<br/>
</p>
<div class="tab-container">
  <ul class="tab-menu">
    <li id="default" class="active">Default Command Set</li>
    <li id="minimum">Minimum Command Set</li>
    <li id="all">All Commands (alphabetical)</li>
    <li id="byset">All Commands (by command set)</li>
  </ul>
  <span class="clear"></span>
  <div class="tab-content">

    <div class="default">
      {{- partial "cmd-docu-overview" (.Site.GetPage "/documentation/reference/commands/default-command-set").Pages -}}
    </div>

    <div class="minimum" style="display: none;">
      <h3>Preparation</h3>
      <div class="padding-left1">
        {{- $all := (.Site.GetPage "/documentation/reference/commands/default-command-set").Pages -}}
        {{- $all := where $all "Params.cmd-category" "cmd-preparation" -}}
        {{- partial "cmd-docu-overview" $all -}}
      </div>

      <h3>Action</h3>
      <div class="padding-left1">
        {{- $all := (.Site.GetPage "/documentation/reference/commands/default-command-set").Pages -}}
        {{- $all := where $all "Params.cmd-category" "cmd-action" -}}
        {{- partial "cmd-docu-overview" $all -}}
      </div>

      <h3>Assertion</h3>
      <div class="padding-left1">
        {{- $all := (.Site.GetPage "/documentation/reference/commands/default-command-set").Pages -}}
        {{- $all := where $all "Params.cmd-category" "cmd-assertion" -}}
        {{- partial "cmd-docu-overview" $all -}}
      </div>
    </div>

    <div class="all" style="display: none;">
      {{- $all := (.Site.GetPage "/documentation/reference/commands/default-command-set").Pages -}}
      {{- $all := union $all (.Site.GetPage "/documentation/reference/commands/sql-command-set").Pages -}}
      {{- $all := union $all (.Site.GetPage "/documentation/reference/commands/incubator-command-set").Pages -}}
      {{- $all := sort $all "Title" "asc" -}}
      {{- partial "cmd-docu-overview" $all -}}
    </div>

    <div class="byset" style="display: none;">
      <h3>Default Command Set</h3>
      <div class="padding-left1">
        {{- partial "cmd-docu-overview" (.Site.GetPage "/documentation/reference/commands/default-command-set").Pages -}}
      </div>

      <h3>SQL Command Set</h3>
      <div class="padding-left1">
        {{- partial "cmd-docu-overview" (.Site.GetPage "/documentation/reference/commands/sql-command-set").Pages -}}
      </div>

      <h3>Incubator Command Set</h3>
      <div class="padding-left1">
        {{- partial "cmd-docu-overview" (.Site.GetPage "/documentation/reference/commands/incubator-command-set").Pages -}}
      </div>
    </div>
  </div>
</div>

{{ end }}

{{ define "sidebar" }}
  {{- partial "sidebar.html" . -}}
{{ end }}
